
<body>
    <div id="dashboard-container" class="cor-fundo">
        <div class="titulo_tabela">
            Dashboard
        </div>
        <div id="grid-container">
            <div class="grid-item cor-containers">
                <div>
                    <h4>GANHOS<br>(MENSAL)</h4>
                    <h3>R$ 40.000</h3>
                    <div class="dados-container">
                        <img src="/assets/imgs/seta-cima.png" class="icone-seta">
                        <h5>3.48%</h5>
                        <h6>Desde o último mês</h6>
                    </div>
                </div>
                <img src="/assets/imgs/maleta.png" class="icones">
            </div>
            <div class="grid-item cor-containers">
                <div>
                    <h4>VENDAS</h4>
                    <h3>650</h3>
                    <div class="dados-container">
                        <img src="/assets/imgs/seta-cima.png" class="icone-seta">
                        <h5>12%</h5>
                        <h6>Desde o ano passado</h6>
                    </div>
                </div>
                <img src="/assets/imgs/carrinho.png" class="icones">
            </div>
            <div class="grid-item cor-containers">
                <div>
                    <h4>NOVOS<br>USUÁRIOS</h4>
                    <h3>366</h3>
                    <div class="dados-container">
                        <img src="/assets/imgs/seta-cima.png" class="icone-seta">
                        <h5>20.4%</h5>
                    </div>
                </div>
                <img src="/assets/imgs/grupo.png" class="icones">
            </div>
            <div class="grid-item cor-containers">
                <div>
                    <h4>SOLICITAÇÕES<br>PENDENTES</h4>
                    <h3>18</h3>
                    <div class="dados-container">
                        <img src="/assets/imgs/seta-baixo.png" class="icone-seta">
                        <h5 id="red">1.10%</h5>
                        <h6>Desde ontem</h6>
                    </div>
                </div>
                <img src="/assets/imgs/mensagem.png" class="icones">
            </div>
        </div>
        <div id="mensal-vendas-container">
            <div id="mensal-container" class="cor-containers">
                <h2>Relatório Mensal</h2>
                <img id="grafico" src="/assets/imgs/grafico.png" class="icone-seta">
            </div>
            <div id="vendas-container" class="cor-containers">
                <h2>Produtos Vendidos</h2>
                <div>
                    <div class="produto">
                        <span>Item A</span>
                        <p>600 de 800 Itens</p>
                    </div>
                    <img src="/assets/imgs/item1.png" class="items">
                    <div class="produto">
                        <span>Item B</span>
                        <p>500 de 800 Itens</p>
                    </div>
                    <img src="/assets/imgs/item2.png" class="items">
                    <div class="produto">
                        <span>Item C</span>
                        <p>455 de 800 Itens</p>
                    </div>
                    <img src="/assets/imgs/item3.png" class="items">
                    <div class="produto">
                        <span>Item D</span>
                        <p>400 de 800 Itens</p>
                    </div>
                    <img src="/assets/imgs/item4.png" class="items">
                    <div class="produto">
                        <span>Item E</span>
                        <p>200 de 800 Itens</p>
                    </div>
                    <img src="/assets/imgs/item5.png" class="items">
                </div>
            </div>
        </div>
    </div>
