td, th {
    text-align: center;
    vertical-align: middle;
}

#table_externo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sup_tabela_subgrupo, #inf_tabela_subgrupo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

#nav_tabela_subgrupo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesquisar_subgrupo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}