<!-- -------------------POP-UP DELETE------------------- -->
<dialog id="modal">
    <h3>Excluir Registro</h3>
    <p>Tem certeza que você quer deletar esse registro?</p>
    <div id="dialog-btns">
        <button (click)="modalClose()" id="btn-nao">Não</button>
        <button>Sim</button>
    </div>
</dialog>
<!-- --------------------------------------------------------- -->
<div class="container_elemento">
    <div class="titulo_tabela">
        Subgrupo
    </div>
    <div id="table_externo" class="table-responsive flex_column">
        <div id="sup_tabela_subgrupo">
            <div>
                10 resultados por página
            </div>
            <form class="d-flex" role="search">
                <label for="pesquisa_subgrupo" id="pesquisar_subgrupo" class="flex_row">Pesquisar</label>
                <input class="form-control me-2" type="search" name="pesquisa_subgrupo">
            </form>
        </div>
        <table class="table" id="tabela_subgrupo">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="botoes_crud">
                            <button type="button" class="botao_crud" id="botao_editar">
                                <img src="../../../assets/imgs/icone_editar.svg" alt="Ícone edição">
                            </button>
                            <button type="button" class="botao_crud" id="botao_excluir">
                                <img src="../../../assets/imgs/icone_excluir.svg" alt="Ícone exclusão">
                            </button>
                        </div>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        Salame
                    </td>
                    <td>
                        Frios
                    </td>
                    <td>
                        Salaminho salaminho salaminho.
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="botoes_crud">
                            <button type="button" class="botao_crud" id="botao_editar">
                                <img src="../../../assets/imgs/icone_editar.svg" alt="Ícone edição">
                            </button>
                            <button type="button" class="botao_crud" id="botao_excluir" (click)="modalOpen()">
                                <img src="../../../assets/imgs/icone_excluir.svg" alt="Ícone exclusão">
                            </button>
                        </div>
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        Salame
                    </td>
                    <td>
                        Frios
                    </td>
                    <td>
                        Salaminho salaminho salaminho salaminho salaminho salaminho salaminho.
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="inf_tabela_subgrupo">
            <div id="paginas_subgrupo">
                <div>
                    Mostrando 1 a 2 de 2 entradas
                </div>
                <nav aria-label="..." id="nav_tabela" class="flex_row">
                    <ul class="pagination">
                    <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">1</span>
                        </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#">Próximo</a>
                    </li>
                    </ul>
                </nav>
            </div>
            <div class="botoes_crud flex_column">
                <button type="button" class="botao_crud" id="botao_inserir" routerLink="/subgrupo-inserir">
                    <img src="../../../assets/imgs/icone_inserir.svg" alt="Ícone inserção">
                </button>
            </div>
        </div>
    </div>
</div>
