<div class="container">
    <div class="titulo_tabela">
        Subgrupo
    </div>
    <div class="table-responsive">
        <table class="table" id="tabela_subgrupo">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="botoes_crud">
                            <button type="button" class="botao_crud" id="botao_excluir">
                                <img src="../../../assets/icone_excluir.svg" alt="Ícone exclusão">
                            </button>
                            <button type="button" class="botao_crud" id="botao_editar">
                                <img src="../../../assets/icone_editar.svg" alt="Ícone edição">
                            </button>
                        </div>
                    </td>
                    <td>
                        dado
                    </td>
                    <td>
                        dado
                    </td>
                    <td>
                        dado
                    </td>
                    <td>
                        dado
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
