<div class="titulo_tabela">
  Produto Subgrupo - Inserindo
</div>
<div id="inserir-container">
    <div>
        <form>
          <form>
            <div class="mb-3">
              <label for="select-produtoGrupo" class="form-label">Id Produto Grupo</label>
              <select class="form-select" id="select-produtoGrupo">
                  <option>1</option>
              </select>
          </div>
            <div class="mb-3">
              <label for="input-nome" class="form-label">Nome</label>
              <input class="form-control" id="input-nome" placeholder="Informe os dados para o campo Nome">
            </div>
            <div class="mb-3">
              <label for="input-descricao" class="form-label">Descrição</label>
              <input class="form-control" id="input-descricao" placeholder="Informe os dados para o campo Descrição">
            </div>
            <div id="btns-container">
                <button id="btn-cancelar"><img src="../../../assets/imgs/icone-cancelar.png" width="20px" routerLink="/produto-subgrupo"></button>
                <button type="submit" id="btn-enviar"><img src="../../../assets/imgs/icone-enviar.png"></button>
            </div>
          </form>
    </div>
</div>