*{
    margin: 0;
}

body {
  overflow-x: hidden;
}

#principal-container{
    height: 82vh;
    width: 100vw;
}

#navconteudo-container{
    height: 90vh;
    width: 100vw;
    display: flex;
}

#conteudo-container{

    width: 80vw;
    display: flex;
    justify-content: center;
    background-color: #f9fdfc;
}

