<main>
  <section id="tabela">
    <table id="produto" class="flex-column">
      <th>
        <ul class="flex-row">
          <li>ID Produto</li>
          <li>Subgrupo</li>
          <li>Marca</li>
          <li>Unidade</li>
          <li>Nome</li>
          <li>gtIn ???</li>
          <li>Valor</li>
          <li>Data Cadastro</li>
        </ul>
      </th>
      <ul class="flex-row" *ngFor="let item of itens">
        <li>ID produto</li>
        <li>
          <table class="produto-subgrupo">
            <ul class="flex-column">
              <li>ID produto_subgrupo</li>
              <li>
                <table class="produto-grupo">
                  <ul class="flex-column">
                    <li>ID produto_grupo</li>
                    <li>Nome</li>
                    <li>Descrição</li>
                  </ul>
                </table>
              </li>
              <li>Nome</li>
              <li>Descrição</li>
            </ul>
          </table>
        </li>
        <li>
          <table class="produto-marca">
            <ul class="flex-column">
              <li>ID Marca</li>
              <li>Nome</li>
              <li>Descrição</li>
            </ul>
          </table>
        </li>
        <li>
          <table class="produto_unidade">
            <ul class="flex-column">
              <li>ID produto_unidade</li>
              <li>Sigla</li>
              <li>Descrição</li>
            </ul>
          </table>
        </li>
        <li>Nome</li>
        <li>gtIn</li>
        <li>Valor</li>
        <li>Data Cadastro</li>
      </ul>
    </table>
  </section>
</main>
<router-outlet></router-outlet>