<div class="collapse show collapseExample">

  <div class="header_menu_nav_esquerda">

    <div class="header_itens_nav_container">
      <div>
        <img src="../../../assets/imgs/speed.png" alt="Ícone dashboard" class="header_nav_icones">
        <a href="#">Dashboard</a>
      </div>
    </div>

    <div id="header_simple_screens_container" class="header_itens_nav_container">
      <div>
        <span>SIMPLE SCREENS</span>
      </div>
      <div>
        <img src="../../../assets/imgs/palette.png" alt="Ícone produto grupo"
          class="header_nav_icones">
        <a href="produto-grupo">Produto Grupo</a>
      </div>
      <div>
        <img src="../../../assets/imgs/finance.png" alt="Ícone produto" class="header_nav_icones">
        <a href="produto-subgrupo">Produto Subgrupo</a>
      </div>
      <div>
        <img src="../../../assets/imgs/deployed.png" alt="Ícone produto marca"
          class="header_nav_icones">
        <a href="produto-marca">Produto Marca</a>
      </div>
      <div>
        <img src="../../../assets/imgs/draft.png" alt="Ícone produto unidade"
          class="header_nav_icones">
        <a href="produto-unidade">Produto Unidade</a>
      </div>
      <div>
        <img src="../../../assets/imgs/table.png" alt="Ícone produto" class="header_nav_icones">
        <a href="produto">Produto</a>
      </div>
    </div>

    <div class="header_itens_nav_container">
      <div>
        <span>GROUPED SCREENS</span>
      </div>
    </div>

    <div id="header_padding_1rem">
      <span>Version 1.0</span>
    </div>
  </div>
</div>