<!-- -------------------POP-UP DELETE------------------- -->
<dialog id="modal">
  <h3 id="dialogo-excluir">Excluir Registro</h3>
  <p id="dialogo-texto">Tem certeza que você quer deletar esse registro?</p>
  <div id="dialog-btns">
      <button (click)="modalClose()" class="botao_dialogo" id="btn-nao">Não</button>
      <button class="botao_dialogo">Sim</button>
  </div>
</dialog>
<!-- --------------------------------------------------------- -->
<main>
  <div class="pro_grupo_container">
    <div class="titulo_tabela">Produto Grupo</div>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">

      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <div class="d-flex itens_pagina">
            <input type="number" class="form-control me-1">
            <label for="me-1">Resultados por página</label>
          </div>
          <form class="d-flex" role="search">
            <button type="button" class="btn" data-bs-toggle="button" type="submit">Pesquisar</button>
            <input class="form-control me-2" type="search" aria-label="Search">
          </form>
        </div>

      </nav>

      <table class="table">
        <thead>
          <tr class="table-light">
            <td scope="col"></td>
            <td scope="col">id</td>
            <td scope="col">Nome</td>
            <td scope="col">Descrição</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">
              <div class="botoes_crud">
                <button type="button" class="botao_crud" id="botao_editar" routerLink="/grupo-editar">
                  <img src="/assets/imgs/icone_editar.svg" alt="Ícone edição">
                </button>
                <button type="button" class="botao_crud" id="botao_excluir" (click)="modalOpen()">
                  <img src="/assets/imgs/icone_excluir.svg" alt="Ícone exclusão">
                </button>
              </div>
            </td>
            <td>
            </td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td scope="row">
              <div class="botoes_crud">
                <button type="button" class="botao_crud" id="botao_editar">
                  <img src="/assets/imgs/icone_editar.svg" alt="Ícone edição">
                </button>
                <button type="button" class="botao_crud" id="botao_excluir">
                  <img src="/assets/imgs/icone_excluir.svg" alt="Ícone exclusão">
                </button>
              </div>
            </td>
            <td>Jacob</td>
            <td>tdornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td scope="row">
              <div class="botoes_crud">
                <button type="button" class="botao_crud" id="botao_editar">
                  <img src="/assets/imgs/icone_editar.svg" alt="Ícone edição">
                </button>
                <button type="button" class="botao_crud" id="botao_excluir">
                  <img src="/assets/imgs/icone_excluir.svg" alt="Ícone exclusão">
                </button>
              </div>
            </td>
            <td colspan="2">Larry tde Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <section class="prod_grupo_tabela_inf">
        <p>Mostrando 0 a 0 de 0 entradas</p>
        <nav aria-label="..." class="paginacao">
          <div class="shadow bg-body-tertiary rounded">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </div>
        </nav>
      </section>
      <div class="inserir">
        <button type="button" class="" id="botao_inserir" routerLink="/grupo-inserir">
          <img src="../../../assets/imgs/icone_inserir.svg" alt="Ícone inserir">
      </button>
      </div>
    </div>
  </div>

</main>