<div class="titulo_tabela">
    Produto Unidade - Editando
  </div>
  <div id="inserir-container">
      <div>
          <form>
            <div class="mb-3" id="id-container">
                <label for="input-id" class="form-label">Id</label>
                <!-- <input readonly class="form-control" id="input-id" placeholder="{{ id }}"> -->
              </div>
              <div class="mb-3">
                <label for="input-nome" class="form-label">Sigla</label>
                <input class="form-control" id="input-nome" type="text" placeholder="Informe os dados para o campo Sigla">
              </div>
              <div class="mb-3">
                <label for="input-descricao" class="form-label">Descrição</label>
                <input class="form-control" id="input-descricao" placeholder="Informe os dados para o campo Descrição">
              </div>
              <div id="btns-container">
                  <button id="btn-cancelar"><img src="../../../assets/imgs/icone-cancelar.png" width="20px" routerLink="/produto-unidade"></button>
                  <!-- <button type="submit" id="btn-enviar" (click)="editarElemento()"><img src="../../../assets/imgs/icone-enviar.png"></button> -->
              </div>
            </form>
      </div>
  </div>
