<div class="header_flex">

  <div id="header_produto_container">
    <img src="/img/logo_vycanis-removebg-preview.png" alt="Ícone Logo Produto" id="header_logo">
    <span>Produto</span>
  </div>

  <div id="header_cabecalho_container">


    <div id="header_botao_menu">
      <a data-bs-toggle="collapse" href=".collapseExample" role="button" aria-expanded="true"
        aria-controls="collapseExample">
        <img src="/img/menu_24dp_FILL1_wght700_GRAD200_opsz48.png" alt="Ícone menu"
          class="header_margin_right_1-5rem header_icones">
      </a>
    </div>

    <div id="header_container_icones_direita">

      <div class="m-0 p-0">
        <img src="/img/search_24dp_FILL0_wght400_GRAD0_opsz24 (1).png" alt="Ícone de pesquisa"
          class="header_margin_right_1-5rem header_icones ">
        <img src="/img/notifications_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone de notificações"
          class="header_margin_right_1-5rem header_icones ">
        <img src="/img/mail_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone de mensagens"
          class="header_margin_right_1-5rem header_icones ">
        <img src="/img/checklist_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone checklist"
          class="header_margin_right_1-5rem header_icones ">
      </div>

      <div class="m-0 p-0" id="header_container_direita">
        <div class="m-0 p-0" id="header_pipeline">
          <img src="/img/icons8-linha-vertical-50.png" alt="Ícone pipeline">
        </div>
        <div id="header_user_container">
          <img src="/img/account_circle_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Foto de perfil do usuário"
            class="header_icones">
          <span id="header_nome_usuario">Nome</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="collapse show collapseExample">

  <div class="header_menu_nav_esquerda">

    <div class="header_itens_nav_container">
      <div>
        <img src="/img/speed_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone dashboard" class="header_nav_icones">
        <a href="#">Dashboard</a>
      </div>
    </div>

    <div id="header_simple_screens_container" class="header_itens_nav_container">
      <div>
        <span>SIMPLE SCREENS</span>
      </div>
      <div>
        <img src="/img/palette_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto grupo"
          class="header_nav_icones">
        <a href="">Produto Grupo</a>
      </div>
      <div>
        <img src="/img/finance_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto" class="header_nav_icones">
        <a href="">Produto Subgrupo</a>
      </div>
      <div>
        <img src="/img/deployed_code_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto marca"
          class="header_nav_icones">
        <a href="">Produto Marca</a>
      </div>
      <div>
        <img src="/img/draft_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto unidade"
          class="header_nav_icones">
        <a href="">Produto Unidade</a>
      </div>
      <div>
        <img src="/img/table_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto" class="header_nav_icones">
        <a href="">Produto</a>
      </div>
    </div>

    <div class="header_itens_nav_container">
      <div>
        <span>GROUPED SCREENS</span>
      </div>
    </div>

    <div id="header_padding_1rem">
      <span>Version 1.0</span>
    </div>
  </div>
</div>