<div id="header_cabecalho_container" class="row">
  <div class="row" id="header_cabecalho_fixo">
    <div class="col-1">
      <a data-bs-toggle="collapse" href=".collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <img src="../../../assets/imgs/menu_24dp_FILL1_wght700_GRAD200_opsz48.png" alt="Ícone menu"
          class="header_margin_right_1-5rem header_icones">
      </a>
    </div>
    <div class="col-7">

    </div>
    <div class="col-4 row" id="header_container_icones_direita">
      <div class="col-7 m-0 p-0">
        <img src="../../../assets/imgs/search_24dp_FILL0_wght400_GRAD0_opsz24 (1).png" alt="Ícone de pesquisa"
          class="header_margin_right_1-5rem header_icones ">
        <img src="../../../assets/imgs/notifications_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone de notificações"
          class="header_margin_right_1-5rem header_icones ">
        <img src="../../../assets/imgs/mail_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone de mensagens"
          class="header_margin_right_1-5rem header_icones ">
        <img src="../../../assets/imgs/checklist_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone checklist"
          class="header_margin_right_1-5rem header_icones ">
      </div>
      <div class="col-1 m-0 p-0" id="header_pipeline">
        <img src="../../../assets/imgs/icons8-linha-vertical-50.png" alt="Ícone pipeline">
      </div>
      <div class="col-4 m-0 p-0" id="header_user_container">
        <img src="../../../assets/imgs/account_circle_24dp_FILL1_wght400_GRAD0_opsz24.png"
          alt="Foto de perfil do usuário" class="header_icones">
        <span id="header_nome_usuario">Nome</span>
      </div>
    </div>
  </div>
</div>

<div class="collapse collapseExample">

  <div class="header_menu_nav_esquerda">

    <div class="header_itens_nav_container">
      <div>
        <img src="../../../assets/imgs/speed_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone dashboard"
          class="header_nav_icones">
        <a href="dashboard">Dashboard</a>
      </div>
    </div>

    <div id="header_simple_screens_container" class="header_itens_nav_container">
      <div>
        <span>SIMPLE SCREENS</span>
      </div>
      <div>
        <img src="../../../assets/imgs/palette_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto grupo"
          class="header_nav_icones">
        <a href="produto-grupo">Produto Grupo</a>
      </div>
      <div>
        <img src="../../../assets/imgs/finance_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto"
          class="header_nav_icones">
        <a href="produto-subgrupo">Produto Subgrupo</a>
      </div>
      <div>
        <img src="../../../assets/imgs/deployed_code_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto marca"
          class="header_nav_icones">
        <a href="produto-marca">Produto Marca</a>
      </div>
      <div>
        <img src="../../../assets/imgs/draft_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto unidade"
          class="header_nav_icones">
        <a href="produto-unidade">Produto Unidade</a>
      </div>
      <div>
        <img src="../../../assets/imgs/table_24dp_FILL1_wght400_GRAD0_opsz24.png" alt="Ícone produto"
          class="header_nav_icones">
        <a href="produto">Produto</a>
      </div>
    </div>

    <div class="header_itens_nav_container">
      <div>
        <span>GROUPED SCREENS</span>
      </div>
    </div>

    <div id="header_padding_1rem">
      <span>Version 1.0</span>
    </div>
  </div>
</div>