<div class="header_flex">



  <div id="header_cabecalho_container">


    <div id="header_botao_menu">
      <a data-bs-toggle="collapse" href=".collapseExample" role="button" aria-expanded="true"
        aria-controls="collapseExample">
        <img src="/assets/imgs/menu.png" alt="Ícone menu"
          class="header_margin_right_1-5rem header_icones">
      </a>
    </div>

    <div id="header_container_icones_direita">

      <div class="m-0 p-0">
        <img src="/assets/imgs/search.png" alt="Ícone de pesquisa"
          class="header_margin_right_1-5rem header_icones ">
        <img src="/assets/imgs/notifications.png" alt="Ícone de notificações"
          class="header_margin_right_1-5rem header_icones ">
        <img src="/assets/imgs/mail.png" alt="Ícone de mensagens"
          class="header_margin_right_1-5rem header_icones ">
        <img src="/assets/imgs/checklist.png" alt="Ícone checklist"
          class="header_margin_right_1-5rem header_icones ">
      </div>

      <div class="m-0 p-0" id="header_container_direita">
        <div class="m-0 p-0" id="header_pipeline">
          <img src="/assets/imgs/icons8-linha-vertical-50.png" alt="Ícone pipeline">
        </div>
        <div id="header_user_container">
          <img src="/assets/imgs/account_circle.png" alt="Foto de perfil do usuário"
            class="header_icones">
          <span id="header_nome_usuario">Nome</span>
        </div>
      </div>
    </div>
  </div>
</div>

