

#header_cabecalho_container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header_botao_menu {
  display: flex;
  margin-left: 1rem;
}

#header_cabecalho_container, #header_container_produto, #header_cabecalho_container {
  min-height: 8vh;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.header_icones {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

.header_icones:hover {
  background-color: #4d5fdb;
  border-radius: 10px;
}

#header_pipeline {
  align-items: center;
  display: flex;
}

.header_margin_right_1-5rem{
  margin-right: 1.5rem;
}

#header_container_produto {
  justify-content: center;
  display: flex;
  background-color: #4d5fdb;
  position: absolute;
  top: 0;
  width: 16.66666667%;
}

#header_cabecalho_container {
  background-color: #6876f0;
  width: 100%;
}

#header_nome_usuario {
  font-size: 1.5rem;
  margin-right: 2rem;
}

#header_container_direita {
  padding: 0.5rem;
  display: flex;
  margin-right: 0.5rem;
}

#header_user_container:hover {
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #4d5fdb;
}

#header_container_icones_direita {
  min-height: 8vh;
  display: flex;
  align-items: center;
  cursor: pointer;
}
