<!-- -------------------POP-UP DELETE------------------- -->
<dialog id="modal">
  <h3 id="dialogo-excluir">Excluir Registro</h3>
  <p id="dialogo-texto">Tem certeza que você quer deletar esse registro?</p>
  <div id="dialog-btns">
      <button (click)="modalClose()" class="botao_dialogo" id="btn-nao">Não</button>
      <button class="botao_dialogo" id="botao_sim">Sim</button>
  </div>
</dialog>
<!-- --------------------------------------------------------- -->
<main>
  <div class="pro_grupo_container">
    <div class="titulo_tabela">Produto</div>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded" id="sla">

      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <div class="d-flex itens_pagina">
            <input type="number" class="form-control me-1">
            <label for="me-1">Resultados por página</label>
          </div>
          <form class="d-flex" role="search">
            <button type="button" class="btn" data-bs-toggle="button" type="submit">Pesquisar</button>
            <input class="form-control me-2" type="search" aria-label="Search">
          </form>
        </div>

      </nav>

      <table class="table">
        
        <thead>
          <tr class="table-light">
            <td scope="col"></td>
            <td scope="col">id</td>
            <td scope="col">Nome</td>
            <td scope="col">Gtin</td>
            <td scope="col">Valor</td>
            <td scope="col">Data de Cadastro</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elemento of objetosProdutos">
            <td scope="row">
              <div class="botoes_crud">
                <button type="button" class="botao_crud botao_editar" id="{{ elemento.id }}" routerLink="/produto-editar" [queryParams]="{ id: elemento.id, id_produto_subgrupo : elemento.id_produto_subgrupo, id_produto_marca : elemento.id_produto_marca, id_produto_unidade : elemento.id_produto_unidade }">
                  <img src="../../../assets/imgs/icone_editar.svg" alt="Ícone edição">
              </button>
                <button type="button" class="botao_crud botao_excluir" (click)="modalOpen(elemento.id)">
                  <img src="../../../assets/imgs/icone_excluir.svg" alt="Ícone exclusão">
              </button>
              </div>
            </td>
            <td>{{ elemento.id }}
            </td>
            <td>{{ elemento.nome }}</td>
            <td>{{ elemento.gtln }}</td>
            <td>{{ elemento.valor }}</td>
            <td>{{ elemento.data_cadastro }}</td>
          </tr>
        </tbody>
      </table>
      <section class="prod_grupo_tabela_inf">
        <p>Mostrando 1 a {{ objetosProdutos.length }} de {{ objetosProdutos.length }} entradas</p>
        <nav aria-label="..." class="paginacao">
          <div class="shadow bg-body-tertiary rounded">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </div>
        </nav>
      </section>
      <div class="inserir">
        <button type="button" class="" id="botao_inserir" routerLink="/produto-inserir">
          <img src="../../../assets/imgs/icone_inserir.svg" alt="Ícone inserir">
      </button>
      </div>
    </div>
  </div>

</main>